* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1rem;
  background-color: #eef2f6;
}

/*header*/

header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1rem;
  background-color: #b4d3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.menu a {
  text-decoration: none;
}
